@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --font-color: #FFFFFF;
    --bg-color: #19B7AC;
    --font-text:
}

body {
    background: linear-gradient(134deg, #020336 0%, #252c64 37.63%, #4a76ca 90.98%);
    column-gap: 80px;
    background-repeat: no-repeat;
    width: 100%;
    height: 2200px;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
}

.header {
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.header-content {
    width: 1335px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style-type: none;
    width: 510px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.nav {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--font-color);
}

.nav:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* MAIN */

.main {
    width: 100%;
}

.main-content {
    margin: 0 auto;
    width: 1440px;
}

.about-me {
    margin-top: 117px;
    height: 805px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: var(--font-color);
}

.subtitle {
    font-size: 40px;
    font-family: 600;
    color: var(--font-color);
}

.text {
    font-size: 32px;
    font-weight: 500;
    color: var(--font-color);
}

.main-btn {
    width: 300px;
    height: 100px;
    background-color: var(--bg-color);
    font-size: 40px;
    font-weight: 600;
    color: var(--font-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.main-btn:hover {
    border: 1px solid #FFFFFF;
}

/* FEEDBACK */

.feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    gap: 120px;
}

.comment {
    width: 1440px;
    height: 580px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content {
    width: 1140px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.name {
    font-size: 40px;
    font-weight: 700;
}

.prof {
    font-size: 32px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

.text-comment {
    font-size: 32px;
    font-weight: 500;
}

/* CATALOG */

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    gap: 120px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 53px 80px;
    flex-wrap: wrap;
}

.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 680px;
    height: 857px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 9px 0 0 110px;
}

.prices {
    display: flex;
    gap: 20px;
}

.price {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.sale {
    font-weight: 700;
    font-size: 24px;
    color: #f66060;
}

.description {
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.product-btn {
    width: 190px;
    height: 57px;
    background: var(--bg-color);
    border: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.product-btn:hover {
    border: 1px solid #000000;
}

.img-product {
    width: 678px;
    height: 675px;
}