@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* HEADER */

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    ;
}

.header-content {
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    height: 29px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 280px;
    margin-right: 60px;
    gap: 60px;
}

.nav {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #4C5866;
}

.icons {
    display: flex;
    gap: 30px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* MAIN */

.main {
    width: 100%;
}

.main-content {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.main-info {
    width: 445px;
    height: 361px;
    margin-top: 70px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.main-title {
    font-size: 60px;
    font-weight: 400;
}

.main-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #85859B;
}

.main-btn {
    width: 255px;
    height: 70px;
    border: 1px solid #7875FE;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    color: #7875FE;
    cursor: pointer;
}

.main-btn:hover {
    font-size: 22px;
    transition: .3s;
}

.sketchbook-content {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.sketchbook-info {
    width: 445px;
    height: 361px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.sketchbook-title {
    font-size: 40px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 8px;
}

.sketchbook-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #85859B;
    margin-bottom: 30px;
}

.sketchbook-btn {
    width: 255px;
    height: 70px;
    border: 1px solid #7875FE;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    color: #7875FE;
    cursor: pointer;
}

.main-btn:hover {
    font-size: 22px;
    transition: .3s;
}
