@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    height: 80px;
}

.header-content {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    height: 29px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 296px;
    margin-right: 60px;
    gap: 60px;
}

.nav {
    font-size: 20px;
    font-weight: 400;
}

.icons {
    display: flex;
    gap: 30px;
}

.icon {
    width: 24px;
    height: 24px;
}



